<%- include("header"); -%>
   <head>
    <link rel="stylesheet" href="css\contact.css">
    <link rel="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   </head>

   <body>
    <div class="contact">
        <img src="images/gamer2.gif" alt="gamer.png">
        <div class="form">
        <h1>Contact Us</h1>
        <div class="inputBx">
        <p>Name</p>
        <input type="text" placeholder="Full Name">
        </div>
        <div class="inputBx">
        <p>Email</p>
        <input type="text" placeholder=" Email">
        </div>
        <div class="inputBx">
        <p>Message</p>
        <textarea placeholder="Type here ..."></textarea>
        </div>
        <div class="inputBx">
        <input type="submit" name="submit">
        </div>
        </div>
        </div>
   </body>