<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale-1.0">
    <title>MEowRN 3-stack</title>
    <!-- <link rel="stylesheet" href="css/home.css"> -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap" rel="stylesheet">

   

    <style>
    

°{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;

}

header{
position: fixed;
top: 0;
Left:0;
width: 100%;
padding: 7px 80px;
display: flex;
justify-content: space-between;
align-items: center;
background: #091035;
transition: 0.5s;
z-index: 1000;
font-family: 'Oxanium', cursive;
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    }

    header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    header ul li{
    list-style: none;
    margin: 10px;
    }

    header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    

    
    }

    header ul li a:hover{
        background: #1aeeef;
        color: #050e2d;
        box-shadow: 0 0 10px #laeeef;
        }

        header .action .searchBx{
        padding: 5px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        }

        header .action .searchBx i{
        font-size: 1.4em;
        margin: 5px;
        color: #222;
        }

        header .action .searchBx input{
          outline: none;
         border: none;
         font-size: 1em;
          color: #222;
        }
    </style>

</head>

<body>
   
    <header>
        <a href="#" class="logo"> Clutch</a>
        <ul class="nav">
        <li><a href="/landpage"> Home </a></li>
        <li><a href="/Games"> Games </a></li>
        <li><a href="/tourna"> Tournaments </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/contact"> Contact</a></li>
        </ul>
        <div class="action">
            <div class="searchBx">
            <a href="#"><i class="bx bx-search"></i></a>
            <input type="text" placeholder="Search Gammers/Games">
            </div>
            </div>
            <div class="toggleMenu"></div>
        </header>

         
     </div>
     </section>

     </body>
     </html>
        







</body>

</html>