

<html>
<head>
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<title>MEowRN 3-stack</title> -->
<link rel="stylesheet" href="css\home.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    

<!-- Home Banner -->
<div class="banner">
   <div class="bg">
      <div class="content">
        <h2>A New Home for <br>
            Game Lovers</h2>
            <p>Improve your gameplay by watching games of famous Gamers  (OR)<br>
             Struck on a hard level? Watch its walkthrough now!!!</p>

            <a href="/login" class="btn">LOGIN</a>
      </div>
        <img src="images\omen2.webp" alt="jett.jpg">
    </div>
</div>

<!-- <header>
<a href="#" class="logo"> Gamming Realm </a>
<ul class="nav">
<li><a href="#"> Home </a></li>
<li><a href="#"> About </a></li>
<li><a href="#"> Games </a></li>
<li><a href="#"> Tournaments </a></li>
<li><a href="contact.ejs"> Contact</a></li>
</ul>
<div class="action">
    <div class="searchBx">
    <a href="#"><i class="bx bx-search"></i></a>
    <input type="text" placeholder="Search Gammers/Games">
    </div>
    </div>
    <div class="toggleMenu"></div>
</header> -->

<img src="images\vid1.gif" alt="jett.jpg" width="100%">

     <video autoplay="" controls="" loop="" width="100%" >
            <source src="public\images\vid1.mp4"  type="video/mp4">
    </video>

</body>
</html>