<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLUTCH</title>
    <link rel="stylesheet" href="css\home.css">
</head>
<body>
    
    <img src="images\vid1.gif" alt="jett.jpg" width="100%">
    
    <div class="banner">
        <div class="bg">
           <div class="content">
             <h2>A New Home for <br>
                 Game Lovers</h2>
                 <p>Improve your gameplay by watching games of famous Gamers  (OR)<br>
                  Struck on a hard level? Watch its walkthrough now!!!</p>
     
                 <a href="/login" class="btn">LOGIN</a>
           </div>
             <img src="images\controller.jpg" alt="jett.jpg">
         </div>
     </div>
     
    
</body>
</html>


