<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- <title>Transparent Login Form Using Html and CSS</title> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7
.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="wrapper">
        <div class="header-area">
            <h2>Clutch</h2>
            <p class="sub">Subscribe to our Social profile</p>
        </div>
            <div class="social-area">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-twitter"></i>
            </div>
            
            <div class="form-area">
                <form action="/login" method="POST">
                <i class="fa fa-user" style="color:#fff"></i>
                <input type="text" name="name" required placeholder="Username">
                <i class="fa fa-key" style="color:#fff"></i>
                <input type="password" name="password" required placeholder="Password">
                <input class="btn" type="submit" value="LOGIN">

                <p class="change">New To Clutch?</p>
                <a href="/signup" class="bt">Sign-up</a>       
              </form>
            </div>
     </div>
    <!-- </div> -->
    <!-- username: disha
    password:123 -->
</body>
</html>