<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- <title>Transparent Login Form Using Html and CSS</title> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7
.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="wrapper">
        <div class="header-area">
            <h2>Clutch</h2>
            <p class="sub">Subscribe to our Social profile</p>
        </div>
            <div class="social-area">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-twitter"></i>
            </div>
            
            <div class="form-area">
                <form action="/signup" method="POST">
                <i class="fa fa-user" style="color:#fff"></i>
                <input type="text" name="name" required placeholder="Enter Username">
                <i class="fa fa-envelope" style="color:#fff"></i>
                <input type="email" name="email" required placeholder="Enter Email">
                <i class="fa fa-phone" style="color:#fff"></i>
                <input type="phone" name="phone" required placeholder="Enter Phone Number">
                <i class="fa fa-key" style="color:#fff"></i>
                <input type="password" name="password" required placeholder="Enter password">
                <i class="fa fa-key" style="color:#fff"></i>
                <input type="password" name="confirmpassword" required placeholder="Confirm Password">
                <input type="checkbox" required style="color:#fff">
                <p class="terms">Accept Terms & Conditions</p>
                <input class="btn" type="submit" value="SIGNUP">
              </form>
            </div>
     </div>
    <!-- </div> -->
</body>
</html>